@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100&display=swap');

body {
    background: url('https://wallpaperaccess.com/full/1164838.jpg');
    font-family: 'Italiana', serif;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    color: white;
}

h1 {
    
    /* opacity: 0.5; */
    /* background: black; */
    margin: 0;
    margin-bottom: .5em;
    padding: 1em;
    text-align: center;
    font-size: 3em;
    color: wheat;
}

a {
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5em;
    /* background: whitesmoke */
}

a:hover {
    /* color: goldenrod; */
    opacity: .6;
}

li {
    list-style: none;
    display: inline-block;
    color: wheat
}


li a {
    color: wheat;
}

a {
    color: wheat
}

input[type=text] {
    padding: .3em;
    color: #ff5500;
}

input[type=submit] {
    padding: .3em;
    /* color: #ff5500; */
    background: whitesmoke;
    font-size: 1em;
    border-radius: 10%;
}

img {
    display: flex;
    display: inline-flex;
    padding: 2%;
    justify-content: space-between;
    max-width: 25em;
    max-height: 25em;
    min-width: 25em;
    min-height: 20em;
    opacity: .6;
    border-radius: 8%;
    padding-bottom: 2%;
}

 img:hover {
    opacity: 1;
 }


p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}